
<html>
  <link rel="stylesheet" href="../static/style.css">
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Modify Profiles</h1>
			</div>
            <form action="/set_password" method="POST" id="register" onsubmit="return toValid()">
                <div class="login-form">
                    <div class="control-group">
                    <input type="password" class="login-field" value="" placeholder="new password" name="new_password">
                    <label class="login-field-icon fui-lock" for="login-pass"></label>
                    </div>

                    <div class="control-group">
                    <input type="password" class="login-field" value="" placeholder="reinter new password" name="check_new">
                    <label class="login-field-icon fui-lock" for="login-pass"></label>
                    </div>

                    <input type="submit" value="Update" class="btn btn-primary btn-large btn-block" >
                    <br>
                </div>
            </form>
		</div>
	</div>

  <script language="javascript">
      function toValid(){
          let val2 = document.getElementsByName("new_password")[0].value;
          if (val2.length <=8){
              alert("password too short, at least 8 characters");
              return false;
          }
          let val3 = document.getElementsByName("check_new")[0].value;
          if (val2!=val3){
              alert("Passwords don't match!");
              return false;
          }
          return true;
      }
  </script>
</html>
